<div class="container-fluid mt-5">
  <div class="row">
    <div class="col-4 pl-3 scrum-col">
      <app-card-column [columnName]="'To Do'" [state]="'to-do'"></app-card-column>
      <app-new-card-form></app-new-card-form>
    </div>
    <div class="col-4 pl-3 scrum-col">
      <app-card-column [columnName]="'In Progress'" [state]="'in-progress'"></app-card-column>
    </div>
    <div class="col-4 pl-3 scrum-col">
      <app-card-column [columnName]="'Done'" [state]="'done'"></app-card-column>
    </div>

  </div>
</div>
