<div class="container-fluid mt-5">
  <div class="row">
    <div class="col-4 pl-3 scrum-col">
      <app-card-column [columnName]="'To Do'" [cards]="cardService.todoCards"></app-card-column>
      <div class="new-card-block">
        <button class="btn btn-primary btn-block">Add a new card</button>
        <form>
          <label for="title" class="form-label">Title</label>
          <input type="text" name="title" class="form-control" id="title">
          <label class="form-label">Description</label>
          <textarea class="form-control" name="description"></textarea>
        </form>
      </div>
    </div>
    <div class="col-4 pl-3 scrum-col">
      <app-card-column [columnName]="'In Progress'" [cards]="cardService.inProgressCards"></app-card-column>
    </div>
    <div class="col-4 pl-3 scrum-col">
      <app-card-column [columnName]="'Done'" [cards]="cardService.doneCards"></app-card-column>
    </div>

  </div>
</div>
